<img src="https://dauphine.psl.eu/fileadmin/_processed_/9/2/csm_damier_logo_Dauphine_f7b37a1ff2.jpg" width="200" style="vertical-align:middle" /> <h1>Master 222: Introduction to Python </h1>

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/jandsy/introduction_python_dauphine/blob/main/Session_1/corrected_fundamentals_python_dauphine.ipynb)

In [ ]:
# Access files from Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

# 0- `print` Function in Python
> In Python, the `print` function is one of the most basic and frequently used built-in functions. Its primary purpose is to display information to the console.

### Basic Usage

To print a simple message or variable's value, you can use the `print` function like this:
```
print("Hello, World!")
```

**Printing Multiple Items**
 You can print multiple items in a single call by separating them with commas:
```
name = "Alice"
print("Hello,", name, "!") # This will output: Hello, Alice !

```

**String Formatting**
Python provides several methods to format strings for display:



1.   Using f-strings:
```
age = 30
print(f"Alice is {age} years old.")
```
2.   Using the str.format() method:
```
print("Alice is {} years old.".format(age))
```
3. Using %-formatting:
```
print("Alice is %d years old." % age)
```

**End and Separator**

The print function also offers parameters like end and sep to control the output:

- end: Specifies what to print at the end.
- sep: Specifies how to separate multiple items.
```
print("Hello", "World", sep="-", end="!") # This will output: Hello-World!
```

- Use the `print` function to display the message "Hello, Python learners!" to the console.
- Print the words "Python", "is", "fun" to the console, but use dashes (`-`) instead of spaces as separators between the words.

In [ ]:
## Insert your code here
print("Hello, Python learners!")

Hello, Python learners!

In [ ]:
print("Python", "is", 'fun', sep = '-')

Python-is-fun

# 1 - Basic Variable Manipulation
> Let's delve into variable creation in Python.

> When creating a variable in Python, the computer allocates a spot in the RAM. This spot holds the value of the created variable.

> To establish a connection between a variable's name and its content, we use the symbol '='. The syntax is as follows:
`variable_name = variable_value`. Commonly, we say we are assigning the variable_value to our variable variable_name, but in reality, Python associates a reference, an address to our variable_value with our `variable_name`. Thus, when you copy a variable, you are only copying the reference to that variable, making the copy operation faster. We will explore this concept further below.

>- Create a variable called `my_variable`.
> - Assign it the value 2.

In [ ]:
## Insert your code here

my_variable = 2

In [ ]:
print(my_variable)

2

>- Create another variable called global.
>- Assign it any value.

In [ ]:
## Insert your code here
global = 3

SyntaxError: invalid syntax (<ipython-input-10-a694e77d20b5>, line 2)

> Python returns an invalid syntax error. Indeed, there are **reserved words ** in Python, and **global** is one of them. Similarly, it's impossible to start a variable's name with a number.

<a href="https://fr.wikibooks.org/wiki/Programmation_Python/Tableau_des_mots_r%C3%A9serv%C3%A9s"> For more information on **reserved words** </a>

> To display the value of a variable, there are several methods. Here are two:

> 1. Simply type and enter the variable name at the keyboard.
> 2. Use the print() function.
> `print(X)` will output the value of the variable X.


>- Create a variable called `number`.
>- Assign it the value 3.0.
>- Display the value on the screen using the first method.

In [ ]:
## Insert your code here

number = 3.0
print(number)
number_2 = 5
number_2

3.0

5

In [ ]:
number = 3.0
number_2 = 5
number_2
print(number)

3.0

> A variable is a piece of data stored by the computer in a specific location in the RAM. There are various types of variables in Python:
<center>
<table>
  <tr>
    <th>Type</th>
    <th>Meaning</th>
    <th>Example</th>
  </tr>
  <tr>
    <td><i>int</i></td>
    <td>Integer number</td>
    <td>2</td>
  </tr>
  <tr>
    <td><i>float</i></td>
    <td>Floating-point number</td>
    <td>3.0</td>
  </tr>
  <tr>
    <td><i>complex</i></td>
    <td>Complex number</td>
    <td>2j</td>
  </tr>
  <tr>
    <td><i>str</i></td>
    <td>String</td>
    <td>"Dauphine"</td>
  </tr>
  <tr>
    <td><i>tuple</i></td>
    <td>Fixed-length list</td>
    <td>(1,2)</td>
  </tr>
  <tr>
    <td><i>list</i></td>
    <td>Variable-length list</td>
    <td>[1,2]</td>
  </tr>
  <tr>
    <td><i>dict</i></td>
    <td>Dictionary</td>
    <td>{0:'a',1:'b'}</td>
  </tr>
  <tr>
    <td><i>bool</i></td>
    <td>Boolean</td>
    <td>True</td>
  </tr>
</table>
</center>




> To know the type of data in Python, use `type(X)` where `X` is the variable whose type you want to know.

- Create four variables named `a`, `b`, `c`, and `d`.
- Assign:
>1. `a` the value 2
>2. `b` the value 3.0
>3. `c` the value "Hello"
>4. `d` the value True

In [ ]:
## Insert your code here
a, b, c, d = 2, 3.0, "Hello", True

In [ ]:
print(type(a), type(b))

<class 'int'> <class 'float'>

> To better grasp the concept of references in Python, we suggest the following exercise:

- Create a variable `a` and assign it a list [1,2].
- Create another variable `b` and assign it the value of `a`.
- Add the element 3 to b by writing `b.append(3)` where 3 is the element you want to add to the list `b`.
- Display `a`. What do you notice?

In [ ]:
## Insert your code here
a = [1, 2]
b = a
b.append(3)
print(a)

[1, 2, 3]

> In reality, the references of `a` and `b` are the same since `a` and `b` are what we call mutable objects. We haven't covered objects, but understand that in Python, everything you manipulate is an object.

> There are thus two types of objects: mutable (lists, dictionaries) and immutable (strings, int, complex, floats, tuples). Mutable objects are those that can be altered after creation. On the contrary, when you "modify" an immutable object, Python creates a new memory address for this new object.

> The following exercise illuminates this principle.
- Create a variable `a` and assign it the value 1.
- Create a variable `b` and assign it the value of `a`.
- Increment b by 1.
- Display `a`.

In [ ]:
## Insert your code here
a = 1
b = a
b = b + 1 # b+=1
print(a)

1

##  Lists in Python

> Lists in Python are ordered collections of items which can be of any type. Lists are very flexible and can be modified after they have been created. A list is created by placing all the items (elements) inside square brackets `[]`, separated by commas.

Here's a simple example:

```
my_list = [1, 2, 3, 4, 5]
```
 **Accessing Elements**
> Elements in a list can be accessed using an index, with the first element at index 0. For example:

```
first_element = my_list[0]  # This will be 1
```

**Modifying Lists**
> Lists are mutable, meaning that you can change their content:
```
my_list[0] = 10  # Now, my_list is [10, 2, 3, 4, 5]
```

**Length of a List**

> The length of a list can be obtained with the len() function:
```
list_length = len(my_list)  # This will be 5
```

**Adding Elements**
> You can add elements to the end of a list using the append() method:
```
my_list.append(6)  # Now, my_list is [10, 2, 3, 4, 5, 6]
```

**Removing Elements**
> You can remove elements from a list using the remove() method, or the pop() method which removes and returns the last item:

```
my_list.remove(2)  # Now, my_list is [10, 3, 4, 5, 6]
last_item = my_list.pop()  # last_item is 6, my_list is [10, 3, 4, 5]
```

- Create a list named fruits containing the following items: apple, banana, cherry.
- Print the second item in the fruits list.
- Change the value of the second item of the fruits list to blackberry.
- Add orange to the end of the fruits list.
- Remove apple from the fruits list.

In [ ]:
## Insert your code here
fruits = ['apple', 'banana', 'chery']
print(fruits[1])
fruits[1] = 'blackberry'
fruits.append('orange')
print(fruits)
fruits.remove("apple")
print(fruits)

banana
['apple', 'blackberry', 'chery', 'orange']
['blackberry', 'chery', 'orange']

#2- Dictionary in Python

Dictionaries in Python are a collection of key-value pairs, where each key must be unique. They are mutable and unordered. Dictionaries are defined by enclosing a comma-separated sequence of key-value pairs in curly braces `{}`, with a colon `:` separating the keys and values.

```
my_dict = {
    'key1': 'value1',
    'key2': 'value2',
    'key3': 'value3',
}
```

**Accessing Elements**
> To access the value associated with a particular key, you can use square brackets enclosing their key.
```
print(my_dict['key1'])  # Output: value1
```

**Adding and Updating Elements**

> You can add new key-value pairs or update the value of an existing key.
```
my_dict['key4'] = 'value4'  # Adds a new key-value pair
my_dict['key1'] = 'new_value1'  # Updates the value of an existing key
```


**Removing Elements**

> You can remove a particular key-value pair with the pop method, or remove all entries with the clear method.
```
my_dict.pop('key2')  # Removes the key-value pair with key 'key2'
my_dict.clear()  # Removes all key-value pairs
```

- Create a dictionary student with keys 'name', 'age', and 'course', and assign some values to these keys.
- Print the value associated with the key 'name'.

In [ ]:
## Insert your code here
student = {'name': 'Jeremy',
           'age': 30,
           'course': "Python"}

In [ ]:
print(student['name'])

Jeremy

- Update the age in the student dictionary to 26.
- Add a new key-value pair 'grade' with a value 'A' to the student dictionary.
- Print the updated dictionary.

In [ ]:
## Insert your code here
student['age'] = 26
student['grade'] = 'A'
student['bag'] = ['computer', 'pen']
print(student)

{'name': 'Jeremy', 'age': 26, 'course': 'Python', 'grade': 'A', 'bag': ['computer', 'pen']}

- Remove the key-value pair 'course' from the student dictionary using the pop method.
- Print the updated dictionary.

In [ ]:
## Insert your code here
del student['course'] #1st method
# student.pop('course') #2nd method

In [ ]:
print(student)

{'name': 'Jeremy', 'age': 26, 'grade': 'A', 'bag': ['computer', 'pen']}

> Now we are going to look at the different operators in Python. The following table summarizes the different mathematical operators.

<center>

| Symbol | Effect                | Example         |
|--------|-----------------------|-----------------|
| +      | Addition              | 6 + 4 returns 10|
| -      | Subtraction           | 6 - 4 returns 2  |
| *      | Multiplication        | 6 * 4 returns 24 |
| /      | Real Division         | 6 / 4 returns 1.5|
| **     | Exponentiation        | 12 ** 2 returns 144 |
| //     | Integer Division      | 6 // 4 returns 1 |
| %      | Remainder of Division | 6 % 4 returns 2  |

</center>

- Define a variable `age`.
- Assign the value 35 to `age`.
- Display the number of days associated with the age using a mathematical operator.

In [ ]:
## Insert your code here
age = 35
print(age*365)

12775

- Define a new variable `day`.
- Assign to day a number of days greater than 10,000.
- Display the corresponding number of years using a mathematical operator. Assume that a year has 365 days.

In [ ]:
## Insert your code here
day = 10001
print(day/365)
print(day//365)
print(day%365)

27.4
27
146

- Create the variables `distance` and `time`.
- Assign the value 15 to `distance`.
- Assign the value 14.4 to `time`.
- Create a new variable `speed` and assign it the corresponding speed based on the previous two variables.
- Display the variable `speed`, using the formula $speed = \frac{distance}{time} $

In [ ]:
## Insert your code here
distance = 15
time = 14.4
speed = distance/time
print(speed)

1.0416666666666667

There are two other types of operators in Python that return Boolean values (True or False): logical operators and comparison operators.   

Here's a table summarizing the logical operators:
<center>

| Expression | Meaning |
|------------|---------|
| X or Y     | Logical OR. If either X or Y is True, the expression is True. If neither is True, the expression is False. |
| X and Y    | Logical AND. If both X and Y are True, the expression is True. Otherwise, the expression is False. |
| not X      | Logical NOT. Opposite of X. If X is True, it returns False. If X is False, it returns True. |

</center>


- Create two variables `x` and `y`.
- Assign `True` to `x` and `False` to `y`.
- Create a new variable `z_false`.
- Using a logical operator with `x` and `y`, assign the value `False` to `z_false`.
- Create a new variable `z_true`.
- Using a logical operator with `x` and `y`, assign the value `True` to `z_true`.
- Display `z_false`.
- Display `z_true`.

In [ ]:
## Insert your code here
x = True
y = False
z_false = x and y
z_true = x or y

In [ ]:
print(z_false, z_true)

False True

Now we turn our attention to the last type of operators: comparison operators.

Below is a table summarizing the comparison operators:
<center>

| Expression | Meaning            |
|------------|--------------------|
| <          | Strictly less than |
| >          | Strictly greater than |
| <=         | Less than or equal to |
| >=         | Greater than or equal to |
| ==         | Equality            |
| !=         | Inequality          |

</center>

- Create two variables `x` and `y`.
- Assign a float `2.0` to `x` and an int `2` to `y`.
- Return `True` in three different ways using only comparison operators.

In [ ]:
## Insert your code here
x, y = 2.0, 2
print(x == y, x<=y, x>=y)

True True True

> Conditionals are a fundamental concept in programming, allowing you to perform different actions based on certain conditions. In Python, the `if`, `elif` (else if), and `else` statements are used to control the flow of execution in a program based on the evaluation of specified conditions.





```
if condition:
    # code to execute if condition is True
elif another_condition:
    # code to execute if another_condition is True
else:
    # code to execute if no conditions are True```

```

### `if` Statement

>The `if` statement evaluates a condition and executes the indented block of code only if the condition is true.



```
x = 10
if x > 5:
    print("x is greater than 5")
```

### `elif` Statement

> The `elif` (else if) statement allows you to check multiple conditions, executing its block of code if its condition is true and all previous conditions have been false.



```
x = 10
if x > 15:
    print("x is greater than 15")
elif x > 5:
    print("x is greater than 5 but not greater than 15")
```

### `else` Statement

The `else` statement executes its block of code if no previous conditions have been true.



```
x = 10
if x > 15:
    print("x is greater than 15")
else:
    print("x is not greater than 15")
```

- You are given the age variable.
- Write a sequence of instructions that prints whether the person is a minor (under 18), an adult (18 to 64), or a senior (65 or older).

In [ ]:
## Insert your code here
age = 64
if age < 18:
    print('is a minor')
elif age < 64:
    print('is an adult')
else:
    print('is a senior')

is a senior

- You are given the variable number.
- Write a sequence of instruction that checks whether the number is positive, negative, or zero and prints the result.

In [ ]:
## Insert your code here
number = 1
if number ==0:
    print('is zero')
elif number > 0:
    print('is positive')
else:
    print('is negative')

is positive

## To go further..
### Exercise 1: Mathematical Operators
- Define a variable `radius` with a value of `7`.
- Calculate the area of a circle using the formula \( Area = \pi r^2 \) (you can use `3.1415` for \(\pi\)) and store the result in a variable called `area`.
- Display the `area` variable.

### Exercise 2: Logical Operators
- Create two variables `p` and `q`.
- Assign `True` to `p` and `False` to `q`.
- Create a new variable `r` and use a logical operator to assign it a value of `True` based on the values of `p` and `q`.
- Create a new variable `s` and use a different logical operator to assign it a value of `False` based on the values of `p` and `q`.
- Display `r` and `s`.

### Exercise 3: Comparison Operators
- Create two variables `a` with a value of `10` and `b` with a value of `20`.
- Return `True` in three different ways using only comparison operators.

### Exercise 4: Variable Types and Casting
- Define four variables `m`, `n`, `o`, and `p`.
- Assign the following values to them: `5`, `5.0`, `"5"`, and `True`, respectively.
- Display the type of each variable using the `type()` function.
- Cast variable `n` to integer, `o` to float, and `p` to string, and display the updated variable types.


### Exercise 5: Understanding References in Python
Understanding how references work in Python is crucial, especially when dealing with mutable and immutable objects. In this exercise, you will explore this concept through a practical example:

- Create a variable `str_1` and assign the string value `"hello"` to it.
- Now create another variable `str_2` and assign `str_1` to it.
- Modify `str_2` by concatenating the string `" world"` to it (i.e., `str_2 = str_2 + " world"`).
- Display both `str_1` and `str_2`.
- Now create a variable `list_1` and assign a list containing two string elements: `["hello", "world"]` to it.
- Create another variable `list_2` and assign `list_1` to it.
- Modify `list_2` by appending another string `"!"` to it (i.e., `list_2.append("!")`).
- Display both `list_1` and `list_2`.

What do you notice about the behavior of string and list objects in Python when assigned to another variable and modified?

In [ ]:
## Insert your code here

# 3- Loops and Function in Python

### Introduction to Loops in Python

Loops in programming allow for the repetition of a block of code as long as a specified condition is met. They are essential for performing repetitive tasks with minimal code. Python provides two main types of loops: `for` loops and `while` loops.

#### For Loops
A `for` loop in Python is used to iterate over a sequence (such as a list, tuple, or string) or other iterable objects.


### Example of a for loop
```
for i in range(5):
    print(i)
```

#### While Loops
A `while` loop in Python is used to repeatedly execute a block of code as long as a condition is true.

```
# Example of a while loop
count = 0
while count < 5:
    print(count)
    count += 1
```


#### Loop Control Statements
Loop control statements change the execution of a loop from its normal sequence. Python supports the following control statements:

break: Terminates the loop and transfers execution to the statement immediately following the loop.
continue: Causes the loop to skip the rest of its body and immediately retest its condition prior to reiterating.


```
# Example using break and continue
for num in range(10):
    if num == 5:
        break  # Exit loop when num is 5
    elif num == 3:
        continue  # Skip iteration when num is 3
    print(num)
```

To recall, **a block in Python is defined by a certain level of indentation** (and begins after a line ending with "**`:`**").

The expression represented by `condition` is _evaluated_ as a **boolean** variable (for example, if `condition` is a string, the test is evaluated as `True` if and only if the string is non-empty).

>- Using your knowledge of the `print` function, define a `while` loop to display the multiplication table of the number 2 (factors 1 to 10):

In [ ]:
## Insert your code here
count = 1
while count < 11:
    print('2 * {} is '.format(count), 2*count)
    count+=1

2 * 1 is  2
2 * 2 is  4
2 * 3 is  6
2 * 4 is  8
2 * 5 is  10
2 * 6 is  12
2 * 7 is  14
2 * 8 is  16
2 * 9 is  18
2 * 10 is  20

>- As previously, display the multiplication table of 2, this time using a **`for`** loop.

In [ ]:
## Insert your code here
for i in range(1, 11):
    print(f'{i} multiplied by 2 is ', i*2)

1 multiplied by 2 is  2
2 multiplied by 2 is  4
3 multiplied by 2 is  6
4 multiplied by 2 is  8
5 multiplied by 2 is  10
6 multiplied by 2 is  12
7 multiplied by 2 is  14
8 multiplied by 2 is  16
9 multiplied by 2 is  18
10 multiplied by 2 is  20

### Function in python

Now that the loop structure has been introduced, we will present more advanced use cases.

The example of the multiplication table may seem a bit simplistic to you. To make it more general, we will define a **function** that displays this multiplication table for any number (we keep the same factors from 1 to 10 for now).

We remind you that the definition of a function in Python is done as follows:

```
def my_function(arg_1, arg_2):
    instruction_1
    ...
    instruction_N
    return something # if needed
```

- Define a function, called `simple_multiplication`, that takes a number n as an argument and displays the multiplication table as in previous questions:

In [ ]:
## Insert your code here
def simple_multiplication(n):
    for i in range(1, 11):
        print(f'{i} multiplied by {n} is ', i*n)
simple_multiplication(5)

1 multiplied by 5 is  5
2 multiplied by 5 is  10
3 multiplied by 5 is  15
4 multiplied by 5 is  20
5 multiplied by 5 is  25
6 multiplied by 5 is  30
7 multiplied by 5 is  35
8 multiplied by 5 is  40
9 multiplied by 5 is  45
10 multiplied by 5 is  50

## To go further..
### Exercise 1: Sum of Natural Numbers
- Write a Python program to find the sum of all natural numbers between 1 and a given number `n` using a `for` loop.

### Exercise 2: Factorial Calculation
- Write a Python program to calculate the factorial of a given number `n` using a `for` loop.

### Exercise 3: Table of Squares
- Write a Python program that displays the table of squares from 1 to a given number `n` using a `for` loop. Each line should be formatted as "`i` squared is `i*i`".

### Exercise 4: Counting the Occurrences
- Write a Python program to count the occurrences of a specific character in a given string using a `for` loop.

### Exercise 5: Accumulating the Elements of a List
- Write a Python program to find the cumulative sum of a list using a `for` loop.

### Exercise 6: Reversing a List
- Write a Python program to reverse the order of the elements in a list using a `for` loop.

### Exercise 7: Odd-Even Count
- Write a Python program to count the number of even and odd numbers from a series of numbers using a `for` loop.